Continuando do Template 001
# Explorando a Visaulização de Dados.

Devemos incializar o serviço do PySpark

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/lib/python3.7/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/25 20:35:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

#Trazendo um exemplo de DataFrame (template001)

In [3]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

df = spark.createDataFrame([
    Row(a=1, b=2., c='marise', d=date(2022, 5, 20), e=datetime(2022, 5, 20, 19, 0)),
    Row(a=2, b=3., c='alex', d=date(2022, 5, 21), e=datetime(2022, 5, 21, 20, 0)),
    Row(a=3, b=4., c='chola', d=date(2022, 5, 22), e=datetime(2022, 5, 22, 21, 0))
])
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

#Visualizando a primeira linha do DataFrame

In [4]:
df.show(1)

+---+---+------+----------+-------------------+
|  a|  b|     c|         d|                  e|
+---+---+------+----------+-------------------+
|  1|2.0|marise|2022-05-20|2022-05-20 19:00:00|
+---+---+------+----------+-------------------+
only showing top 1 row

In [5]:
df.show(truncate=True)

+---+---+------+----------+-------------------+
|  a|  b|     c|         d|                  e|
+---+---+------+----------+-------------------+
|  1|2.0|marise|2022-05-20|2022-05-20 19:00:00|
|  2|3.0|  alex|2022-05-21|2022-05-21 20:00:00|
|  3|4.0| chola|2022-05-22|2022-05-22 21:00:00|
+---+---+------+----------+-------------------+

In [6]:
df.show()

+---+---+------+----------+-------------------+
|  a|  b|     c|         d|                  e|
+---+---+------+----------+-------------------+
|  1|2.0|marise|2022-05-20|2022-05-20 19:00:00|
|  2|3.0|  alex|2022-05-21|2022-05-21 20:00:00|
|  3|4.0| chola|2022-05-22|2022-05-22 21:00:00|
+---+---+------+----------+-------------------+

In [7]:
df.show(n=2, vertical=True)

-RECORD 0------------------
 a   | 1
 b   | 2.0
 c   | marise
 d   | 2022-05-20
 e   | 2022-05-20 19:00:00
-RECORD 1------------------
 a   | 2
 b   | 3.0
 c   | alex
 d   | 2022-05-21
 e   | 2022-05-21 20:00:00
only showing top 2 rows

In [8]:
df.show(1, vertical=True)

-RECORD 0------------------
 a   | 1
 b   | 2.0
 c   | marise
 d   | 2022-05-20
 e   | 2022-05-20 19:00:00
only showing top 1 row

In [9]:
df.columns

['a', 'b', 'c', 'd', 'e']

In [10]:
df.printSchema()

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

# Exibir uma estatística resumida do DataFrame = equivalente ao summary
Observe stddev - desvio padrão

In [11]:
df.select("a", "b", "c").describe().show()

+-------+---+---+------+
|summary|  a|  b|     c|
+-------+---+---+------+
|  count|  3|  3|     3|
|   mean|2.0|3.0|  null|
| stddev|1.0|1.0|  null|
|    min|  1|2.0|  alex|
|    max|  3|4.0|marise|
+-------+---+---+------+

Exibir uma coleção dados distribuídos dos quais o tamanho da  memória RAM pode não suportar. Aqui apenas como um exemplo de como fazer as seleções, já que a massa de df é ínfima.

In [12]:
df.collect()

[Row(a=1, b=2.0, c='marise', d=datetime.date(2022, 5, 20), e=datetime.datetime(2022, 5, 20, 19, 0)),
 Row(a=2, b=3.0, c='alex', d=datetime.date(2022, 5, 21), e=datetime.datetime(2022, 5, 21, 20, 0)),
 Row(a=3, b=4.0, c='chola', d=datetime.date(2022, 5, 22), e=datetime.datetime(2022, 5, 22, 21, 0))]

Para evitar a falta de memória podemos usar take ou tail

In [13]:
df.take(1)

[Row(a=1, b=2.0, c='marise', d=datetime.date(2022, 5, 20), e=datetime.datetime(2022, 5, 20, 19, 0))]

In [14]:
df.take(2)

[Row(a=1, b=2.0, c='marise', d=datetime.date(2022, 5, 20), e=datetime.datetime(2022, 5, 20, 19, 0)),
 Row(a=2, b=3.0, c='alex', d=datetime.date(2022, 5, 21), e=datetime.datetime(2022, 5, 21, 20, 0))]

In [15]:
df.take(3)

[Row(a=1, b=2.0, c='marise', d=datetime.date(2022, 5, 20), e=datetime.datetime(2022, 5, 20, 19, 0)),
 Row(a=2, b=3.0, c='alex', d=datetime.date(2022, 5, 21), e=datetime.datetime(2022, 5, 21, 20, 0)),
 Row(a=3, b=4.0, c='chola', d=datetime.date(2022, 5, 22), e=datetime.datetime(2022, 5, 22, 21, 0))]

In [16]:
df.tail(3)

[Row(a=1, b=2.0, c='marise', d=datetime.date(2022, 5, 20), e=datetime.datetime(2022, 5, 20, 19, 0)),
 Row(a=2, b=3.0, c='alex', d=datetime.date(2022, 5, 21), e=datetime.datetime(2022, 5, 21, 20, 0)),
 Row(a=3, b=4.0, c='chola', d=datetime.date(2022, 5, 22), e=datetime.datetime(2022, 5, 22, 21, 0))]

O PySpark DataFrame também fornece a conversão de volta para um DataFrame pandas para aproveitar a API do pandas. Observe que toPandastambém coleta todos os dados no lado do driver que podem facilmente causar um erro de falta de memória quando os dados são muito grandes para caber no lado do driver.

In [17]:
df.toPandas()

   a    b       c           d                   e
0  1  2.0  marise  2022-05-20 2022-05-20 19:00:00
1  2  3.0    alex  2022-05-21 2022-05-21 20:00:00
2  3  4.0   chola  2022-05-22 2022-05-22 21:00:00

# Selecionando e Acessando dados
O modo de operação do PySpark DataFrame é diferente de outras Tools, ao selecionar uma coluna da tabela, retorna uma instância dessa coluna, vejamos:

In [18]:
df.a

Column<'a'>

Desta maneira, precisamos então ao usar colunas, outro DataFrame será gerado. Vejamos a seguir quando selecionado a coluna c.

In [19]:
from pyspark.sql import Column
from pyspark.sql.functions import upper

type(df.c) == type(upper(df.c)) == type(df.c.isNull())

True

In [20]:
df.select(df.c).show()

+------+
|     c|
+------+
|marise|
|  alex|
| chola|
+------+

Vamos atribuir uma nova coluna.

In [21]:
df.withColumn('upper_c', upper(df.c)).show()

+---+---+------+----------+-------------------+-------+
|  a|  b|     c|         d|                  e|upper_c|
+---+---+------+----------+-------------------+-------+
|  1|2.0|marise|2022-05-20|2022-05-20 19:00:00| MARISE|
|  2|3.0|  alex|2022-05-21|2022-05-21 20:00:00|   ALEX|
|  3|4.0| chola|2022-05-22|2022-05-22 21:00:00|  CHOLA|
+---+---+------+----------+-------------------+-------+

In [22]:
df.show()

+---+---+------+----------+-------------------+
|  a|  b|     c|         d|                  e|
+---+---+------+----------+-------------------+
|  1|2.0|marise|2022-05-20|2022-05-20 19:00:00|
|  2|3.0|  alex|2022-05-21|2022-05-21 20:00:00|
|  3|4.0| chola|2022-05-22|2022-05-22 21:00:00|
+---+---+------+----------+-------------------+

Vc viu a diferença de uma para o outro? A coluna Upper foi instãnciada ao DataFrame

In [23]:
df.filter(df.a == 1).show()

+---+---+------+----------+-------------------+
|  a|  b|     c|         d|                  e|
+---+---+------+----------+-------------------+
|  1|2.0|marise|2022-05-20|2022-05-20 19:00:00|
+---+---+------+----------+-------------------+

# Aplicando uma função

Apache Arrow é um formato de dados colunar na memória que é usado no Spark para transferir dados com eficiência entre os processos JVM e Python.

Scalar Pandas UDFs são usados ​​para vetorizar operações escalares. Para definir uma UDF de Pandas escalar, basta usar @pandas_udfpara anotar uma função Python que recebe como argumentos e retorna outra do mesmo tamanho. Abaixo ilustramos usando dois exemplos: Mais Um e Probabilidade Cumulativa.pandas.Seriespandas.Series. 
A computação v + 1 é um exemplo simples para demonstrar as diferenças entre UDFs de linha por vez e UDFs Pandas escalares.

Para saber mais: https://databricks.com/blog/2017/10/30/introducing-vectorized-udfs-for-pyspark.html

Veja o template004 de Exemplos de aplciações.

In [24]:
import pandas
from pyspark.sql.functions import pandas_udf

In [25]:
def pandas_plus_one(series: pd.Series) -> pd.Series:
    # Simply plus one by using pandas Series.
    return series + 1

df.select(pandas_plus_one(df.a)).show()

+-------+
|(a + 1)|
+-------+
|      2|
|      3|
|      4|
+-------+

## Agrupamento de dados
O PySpark DataFrame também fornece uma maneira de lidar com dados agrupados usando a abordagem comum, a estratégia split-apply-combine. Ele agrupa os dados por uma determinada condição, aplica uma função a cada grupo e depois os combina de volta ao DataFrame.

In [26]:
df = spark.createDataFrame([
    ['amarelo', 'banana', 1, 10], ['azul','banana', 2, 20], ['vermelho', 'cenoura', 3, 30],
    ['azul','uva', 4, 40], ['vermelho', 'cenoura', 5, 50], ['marron', 'cenoura', 6, 60], 
    ['vermelho', 'banana', 7, 70], ['vermelho', 'uva', 8, 80]], schema=['cor', 'fruta', 'qte1', 'qte2'])

In [27]:
df.show()

+--------+-------+----+----+
|     cor|  fruta|qte1|qte2|
+--------+-------+----+----+
| amarelo| banana|   1|  10|
|    azul| banana|   2|  20|
|vermelho|cenoura|   3|  30|
|    azul|    uva|   4|  40|
|vermelho|cenoura|   5|  50|
|  marron|cenoura|   6|  60|
|vermelho| banana|   7|  70|
|vermelho|    uva|   8|  80|
+--------+-------+----+----+

## Cálculo da média aritmética com uma função do spark.
Aplicando um comando para calcular a média aritmética - Average - aplicando a seleção pro agrupamento de cores

In [28]:
df.groupby('cor').avg().show()

+--------+---------+---------+
|     cor|avg(qte1)|avg(qte2)|
+--------+---------+---------+
|vermelho|     5.75|     57.5|
|    azul|      3.0|     30.0|
| amarelo|      1.0|     10.0|
|  marron|      6.0|     60.0|
+--------+---------+---------+

## Obtendo dados de entrada e saída CSV

CSV é simples e fácil de usar. Parquet e ORC são formatos de arquivo eficientes e compactos para ler e escrever mais rápido.

Existem muitas outras fontes de dados disponíveis no PySpark, como JDBC, text, binaryFile, Avro, etc. Consulte também o Spark SQL, DataFrames and Datasets Guide mais recente na documentação do Apache Spark.

In [42]:
df.write.csv('fruits.csv', header=True)
spark.read.csv('fruits.csv', header=True).show()

+--------+-------+----+----+
|     cor|  fruta|qte1|qte2|
+--------+-------+----+----+
|vermelho|cenoura|   5|  50|
|  marron|cenoura|   6|  60|
|vermelho| banana|   7|  70|
|vermelho|    uva|   8|  80|
| amarelo| banana|   1|  10|
|    azul| banana|   2|  20|
|vermelho|cenoura|   3|  30|
|    azul|    uva|   4|  40|
+--------+-------+----+----+